In [3]:
import pandas as pd 
import numpy as np

In [4]:
store = pd.read_csv("superstore.csv")
store.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
store.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

# Groupby Function

In [6]:
profit = store.groupby('Category')['Profit'].median()
print(profit)

Category
Furniture           7.7748
Office Supplies     6.8824
Technology         25.0182
Name: Profit, dtype: float64

In [7]:
store.drop(columns=['Product Name'], axis=1, inplace=True)

In [8]:
store.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [9]:
store.groupby(['Category','Sub-Category'])['Sales'].agg(['mean','count'])

                                     mean  count
Category        Sub-Category
Furniture       Bookcases      503.859633    228
                Chairs         532.332420    617
                Furnishings     95.825668    957
                Tables         648.794771    319
Office Supplies Appliances     230.755710    466
                Art             34.068834    796
                Binders        133.560560   1523
                Envelopes       64.867724    254
                Fasteners       13.936774    217
                Labels          34.303055    364
                Paper           57.284092   1370
                Storage        264.590553    846
                Supplies       245.650200    190
Technology      Accessories    215.974604    775
                Copiers       2198.941618     68
                Machines      1645.553313    115
                Phones         371.211534    889

# Data Encoding

In [10]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

In [14]:
encoded = encoder.fit_transform(store[['Category']]).toarray()

In [15]:
# numeric dataframe for catergory
df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [16]:
df

      Category_Furniture  Category_Office Supplies  Category_Technology
0                    1.0                       0.0                  0.0
1                    1.0                       0.0                  0.0
2                    0.0                       1.0                  0.0
3                    1.0                       0.0                  0.0
4                    0.0                       1.0                  0.0
...                  ...                       ...                  ...
9989                 1.0                       0.0                  0.0
9990                 1.0                       0.0                  0.0
9991                 0.0                       0.0                  1.0
9992                 0.0                       1.0                  0.0
9993                 0.0                       1.0                  0.0

[9994 rows x 3 columns]